.product-page header {
	position: relative;
	top: 0;
	background-color: rgba(32, 55, 66, 1);
	color: white;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
	padding: 8px 35px;
}

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Georgia", serif;
}

/* PAGE LAYOUT */
body {
	background-color: rgba(251, 244, 228, 1);
	height: 70vh;
}

.login-page {
	display: flex;
	height: 70vh;
}

/* LEFT IMAGE */
.login-image {
	flex: 1;
	overflow: hidden;
}

.login-image img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* RIGHT FORM */
.login-form-wrapper {
	flex: 1;
	background-color: rgba(251, 244, 228, 1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-form {
	width: 60%;
}

.login-form h1 {
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 6px;
	text-align: center;
}

.subtitle {
	font-size: 14px;
	color: #777;
	margin-bottom: 40px;
	font-style: italic;
	text-align: center;
	letter-spacing: 2.5px;
}

/* INPUTS */
.input-group {
	margin-bottom: 26px;
}

.input-group label {
	display: block;
	font-size: 13px;
	margin-bottom: 8px;
	color: #333;
}

.input-group input {
	width: 100%;
	border: none;
	border-bottom: 2px solid black;
	padding: 8px 2px;
	background: transparent;
	font-size: 14px;
	outline: none;
}

.input-group input:focus {
	border-bottom: 1px solid #0c2d48;
}

/* BUTTON */
.login-btn {
	margin-top: 30px;
	width: 100%;
	padding: 12px 0;
	background-color: #0c2d48;
	color: white;
	border: none;
	border-radius: 30px;
	font-size: 14px;
	cursor: pointer;
	transition: background 0.3s ease;
}

.login-btn:hover {
	background-color: #093054;
}
